<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCSecToken:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCHibernateWithSpringSecurityExample.war">
      <element id="artifact" artifact-name="SpringMVCSecToken:war exploded" />
    </root>
  </artifact>
</component>